<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <title>Mario Chat</title>
</head>

<body>

    <h1 class="welcome_title">Welcome To Mario Chat</h1>



    <div class="container">
        <span class="image_left_column column">
            <div th:each="image: ${images}">
                <br>
                <img th:src="${image}" width="100">
            </div>
        </span>

        <main>

            <section class="chat_container">
                <div th:each="message: ${messages}">
                    <h5 class="chat_message" th:text="${message}"></h5>
                </div>
            </section>
            
            <!-- Allow users to send a message -->
            <form action="." method="POST">  
                <input class="msg msg_textbox" type="text" name="message" placeholder="Type a message...">
                <input class="msg msg_btn_send" type="submit" value="Send">
            </form>  
        </main>
        <span class="image_right_column column">
            <div th:each="image: ${images}">
                <br>
                <img th:src="${image}" width="100">
            </div>
        </span>
    </div>


    <!--<img src="mk8_mario.jpg" width="100" height="90">-->
    <!--<img src="mario_64_ds_mario_face.png" width="100" height="100">-->
    <!--<img src="super_mario_world_mario.jpg" width="50" height="100">-->
    <!--<img src="paper_mario.png" width="100" height="100">-->

</body>

</html>